h1 {
  font-family: 'Righteous', cursive;
}

h3 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

p, a{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#orange {
  color: #fe7f2d;
}